@{
    ViewData["Title"] = "Đăng nhập";
}

<style>
    body {
        background: url('/images/backgroundlogin.jpeg') no-repeat center center fixed;
        background-size: cover;
    }
</style>

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-4" style="width: 400px; background: rgba(255, 255, 255, 0.8); border-radius: 10px;">
        <h2 class="text-center text-primary mb-4">Đăng nhập</h2>

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger text-center">@ViewBag.ErrorMessage</div>
        }

        <form method="post" action="/Account/Login">
            <div class="mb-3">
                <label class="form-label">Tên đăng nhập</label>
                <input type="text" name="username" class="form-control"  required />
            </div>
            <div class="mb-3">
                <label class="form-label">Mật khẩu</label>
                <input type="password" name="password" class="form-control" required />
            </div>
            <button type="submit" class="btn btn-primary w-100">Đăng nhập</button>
        </form>
        <div class="text-center mt-3">
            <a href="/Account/Register" class="text-decoration-none">Chưa có tài khoản? Đăng ký ngay</a>
        </div>
    </div>
</div>
